{% extends "base.html" %}
{% block content %}
<html>
   <head>
	   <title>Code Share: Share your codes!</title>
   </head>
   <body>
	   <h1>Code Share: Share your codes!</h1>
	   <p><a class="btn btn-secondary" href="/">Home</a>
	   {% if uid %}
	   <p align=left><a class="btn btn-secondary" href="/view/{{ uid }}">View only code: {{ uid }}</a>
	   <p align=left>URL: <input name='url' value="{{ url }}">
	   {% endif %}
	   <p align=center>
	   <form method="POST" action="/publish" enctypwe="multipart/form-data">
		   <table>
		    <tr>
			 <div class="dropdown">
                <select class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" name="lang">
                    <option value={{ lang }}>{{ lang }}</option>
					<option value="C">.c</option>
					<option value="Cpp">.cpp</option>
					<option value="Python">.py</option>
					<option value="Php">.php</option>
					<option value="Javascript">.js</option>
				</select>
			</div><br>
			<td>
				<textarea name="code" rows=20 cols=100>{{ code }}</textarea><br/>
			</td>
		     <td valign=top>
		       <input type="hidden" name="uid" value="{{ uid }}">
		       <button class="btn btn-info" type="submit" name="submit" value="edit">Save</button><br/>
		       <button class="btn btn-info" type="submit" name="submit" value="view">Save &amp; View</button>
		     </td>
		    </tr>
		   </table>
	   </form>
   </body>
</html>
{% endblock %}

