{% extends "base.html" %}
{% block content %}
<html>
   <head>
	   <title>Code Share: Share your codes!</title>
   </head>
   <body>
	   <h1>Code Share: Share your codes!</h1>
	   <p align=center>
	   <img width=150 src='static/The_GNU_logo.png'/>
	   <p align=center>
	   <form method="GET" action="/create">
		   <button class="btn btn-info" name="create">Create</button>
	   </form>
	   {% if last_added %}
	   <h2>Derniers ajouts</h2>
	   {% for entry in last_added %}
	   <div class="card">
	   <p><a href="/view/{{ entry["uid"] }}"> Id :{{ entry["uid"] }}</a></p>
	   <p><pre>Code : <br>{{ entry["code"] }}</pre>
	   <p><pre>Langage de programmation : {{ entry["lang"] }}</pre>
	   </div>
	   <hr/>
	   {% endfor %}
	   {% endif %}
	   {% if data %}
			<h2>Derniers ajouts</h2>

			{% for row in data %}
			<div class="card">
				<p><a href="/view/{{ row[0] }}">Id :{{ row[0] }}</a></p>
				<p><pre>Code :<br>{{ row[1] }}</pre></p>
				<p><pre>Langage de programmation :{{ row[2] }}</pre></p>
			</div>
			<hr/>
			{% endfor %}
		{% endif %}
   </body>
</html>
{% endblock %}
